.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  position: fixed;
  background-color: #fafafa;
  z-index: 10;
  animation: appearAnimation 0.5s ease-in-out forwards;
}

.closeCart {
  animation: disappearAnimation 0.5s ease-in-out forwards;
}

.closeCartDiv {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.closeIcon {
  width: 25px;
  padding: 1rem 0rem;
  cursor: pointer;
}

.cartHeader {
  display: flex;
  width: 90%;
  align-items: flex-end;
  padding: 0rem 0rem 1rem 0rem;
  margin: 0rem 0rem 1rem 0rem;
  border-bottom: 2px solid #313131;
}

.cartHeaderLogo {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border-radius: 5px;
  border: 2px solid #313131;
}

.cartHeaderText {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  height: 100%;
}

.cartHeaderTitle {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0rem;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.addressContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.cartSectionHeader {
  width: 100%;
}

.finishBtn {
  width: 90%;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f27405;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@keyframes appearAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes disappearAnimation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
