.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  top: 0px;
  left: 0px;
}

.contentContainer {
  width: 350px;
  background-color: #fafafa;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  /* animation: appearModal 0.4s ease-in-out; */
}

.closeBtn {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.closeBtnIcon {
  width: 15px;
  cursor: pointer;
}

.modalProductImage {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.modalTitle {
  width: 90%;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0rem 0rem 0.5rem 0rem;
}

.modalDescription {
  width: 90%;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0rem 0rem 2rem 0rem;
  color: #313131;
}

.modalInput {
  width: 90%;
  border: none;
  outline: none;
  margin: 0rem 0rem 2rem 0rem;
  padding: 0.25rem;
  background-color: transparent;
  font-size: 0.85rem;
  font-weight: 500;
}

.modalControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 2rem;
}

.modalControlsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f27405;
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.modalControlsBtn > img {
  width: 60%;
}
.modalAddBtn {
  width: 90%;
  border-radius: 5px;
  border: none;
  background-color: #f27405;
  height: 30px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  outline: none;
  cursor: pointer;
}

/* @keyframes appearModal {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
} */
