.sectionHeaderContainer {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  margin: 0rem;
}

.titleStrip {
  width: 100px;
  height: 5px;
  background-color: #313131;
  border-radius: 10px;
}
